* {
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
	margin: 0;
}

button {
	cursor: pointer;
	padding: unset;
	border: unset;
	background: unset;
	transition: all 0.2s ease-in-out;
	border-radius: 5px;
}

nav {
	position: fixed;
	display: grid;
	top: 0;
	background-color: #fff;
	height: 3.3em;
	line-height: 3.3em;
	width: 90%;
	border-bottom: 0.1em solid #dbdbdb;
	grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr;
}

.logo {
	text-decoration: none;
}

.logo > img {
	vertical-align: middle;
}

.search {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xNS44NTMgMTYuNTZjLTEuNjgzIDEuNTE3LTMuOTExIDIuNDQtNi4zNTMgMi40NC01LjI0MyAwLTkuNS00LjI1Ny05LjUtOS41czQuMjU3LTkuNSA5LjUtOS41IDkuNSA0LjI1NyA5LjUgOS41YzAgMi40NDItLjkyMyA0LjY3LTIuNDQgNi4zNTNsNy40NCA3LjQ0LS43MDcuNzA3LTcuNDQtNy40NHptLTYuMzUzLTE1LjU2YzQuNjkxIDAgOC41IDMuODA5IDguNSA4LjVzLTMuODA5IDguNS04LjUgOC41LTguNS0zLjgwOS04LjUtOC41IDMuODA5LTguNSA4LjUtOC41eiIvPjwvc3ZnPg==");
	background-color: #fafafa;
	background-size: 16px 16px;
	background-position: left 10px center;
	background-repeat: no-repeat;
	border: 0.07em solid #dbdbdb;
	padding: 1em 1.5em;
	padding-left: 2.7em;
	margin: 0.5em 0.5em 0;
	/* width: 15.5em; */
	width: 70%;
	height: 2em;
	border-radius: 0.5em;
}

.search::placeholder {
	color: #808080;
}

.nav-links {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-links i {
	transform: scale(1.6);
	color: #252525;
}

.container {
	padding: 0 15%;
}

.bio {
	display: grid;
	grid-template-columns: 1fr 2fr;
	font-family: Arial, Helvetica, sans-serif;
	padding: 3em 0 2em 0em;
	border-bottom: 0.2px solid #dbdbdb;
	margin-top: 5em;
	margin-bottom: 2em;
	/* width: 80%; */
}

#profilePhotoInput {
	display: none;
}

.profile-photo {
	background: #000;
	width: 10em;
	height: 10em;
	border-radius: 50%;
	margin-top: 0.5em;
}

.profile-photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	cursor: pointer;
}

.profile-photo img:hover {
	opacity: 0.7;
}

/* .profile-info,
.edit-bio-form {
	width: 450px;
} */

.profile-info .name {
	font-size: 1.7em;
	color: #545454;
	margin-bottom: 0;
}

.profile-info .about {
	font-size: 1.2em;
	color: #545454;
}

.profile-info button {
	background-color: #0095f6;
	color: #fff;
	font-size: 1.1em;
	width: 6em;
	height: 2em;
}

.profile-info button:hover {
	background-color: #0081d6;
}

.edit-bio-form input,
.edit-bio-form textarea {
	width: 100%;
	height: 2em;
	border: 0;
	border-bottom: 2px solid #808080;
	border-radius: 0.2em;
	padding: 0.5em;
	margin-top: 0.5em;
}

.edit-bio-form textarea {
	height: 4em;
}

.edit-bio-form button {
	margin: 1em 1em 0 0;
}

.edit-bio-form .cancel-button {
	background-color: #890000;
}

#addPhotoInput {
	display: none;
}

.add-photo-button {
	transform: scale(3);
	position: fixed;
	bottom: 5em;
	right: 7em;
	cursor: pointer;
}

.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 1.7em;
	column-gap: 1em;
}

.item {
	height: 17.5em;
	width: 17.5em;
	background: #000;
	cursor: pointer;
}

.item-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.item:hover .item-image {
	opacity: 0.7;
}

.delete-button {
	opacity: 0;
	position: absolute;
	margin-left: -12em;
	margin-top: 11em;
	padding: 0.1em 0.3em;
	background-color: #890000;
	color: #fff;
	border: 1px solid #c8c8c8;
	transform: scale(1.5);
}

.delete-button:hover {
	background-color: #670000;
	color: #fff;
}

.item:hover .delete-button {
	opacity: 1;
}

.delete-all-button {
	margin-bottom: 1em;
	margin-left: 2em;
	background-color: #890000;
	color: #fff;
	padding: 5px 10px;
	border: 1px solid #890000;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 100;
}

.modal-main {
	position: fixed;
	background: white;
	width: 30%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 0 20px;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.modalButtonDiv {
	display: flex;
	justify-content: space-around;
	margin: 20px auto 10px;
}

.modalButtonDiv .accept-button,
.modalButtonDiv .close-button {
	background-color: #890000;
	color: #fff;
	font-size: 1.1em;
	width: 6em;
	height: 2em;
	border: 1px solid #890000;
}

.modalButtonDiv .close-button {
	background-color: #0095f6;
	border: 1px solid #0095f6;
}

.delete-all-button:hover,
.modalButtonDiv .accept-button:hover {
	background-color: #fff;
	color: #890000;
}

.delete-all-button:active {
	margin-top: 3px;
}

@media screen and (max-width: 600px) {
	.profile-photo {
		width: 5em;
		height: 5em;
		margin-top: 3em;
		margin-right: 2em;
	}

	.container {
		padding: 0;
	}

	nav {
		grid-template-columns: 1fr 1fr 0.8fr;
		margin-right: 6px;
		width: 100%;
	}

	/* .search {
		width: 40%;
	} */

	.bio {
		display: block;
		padding: 3em;
		margin: 0 auto;
		text-align: center;
		/* width: 90%; */
	}

	.bio div {
		margin: 30px auto;
	}

	.profile-info,
	.edit-bio-form {
		max-width: 450px;
	}

	.nav-links i {
		transform: scale(1);
	}

	.edit-bio-form input {
		width: 100%;
	}

	.gallery {
		display: block;
		margin-top: 15px;
	}

	.gallery .item {
		margin: 20px auto;
	}

	.add-photo-button {
		right: 2em;
	}

	.delete-all-button {
		margin: 2em;
		margin-left: 5em;
	}

	.modal-main {
		width: 55%;
	}

	.modalButtonDiv .accept-button,
	.modalButtonDiv .close-button {
		width: 4em;
		height: 2em;
	}
}

@media screen and (max-width: 820px) and (min-width: 1280px) {
	nav {
		grid-template-columns: 1fr 1fr 0.8fr 0.5fr;
	}

	.profile-info {
		margin-left: 50px;
	}
}
